.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0rem;
  height: 90vh;
}

.login-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 7rem;
    width: 39rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 7rem;
  }

.login-input {
    margin-left: 0px;
    padding: 0.8rem;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 25rem;
  }

.remember {
  font-weight: bold;
  font-size: 20rem;
  margin-bottom: 1rem;
}

.plus {
  color: skyblue;
}

.login {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.form-group {
  margin-bottom: 0.4rem;
  text-align: left;
}

.loginButton{
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #050505;
    color: #fff;
    width: 25rem;
    cursor: pointer;
    font-weight: 450;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
}


