.TextContainer {
  margin-top: 20rem;
}


.animate-on-scroll-1{
  margin-top: 14.8rem;
}

.secondText{
  margin-top: -28rem;
}

.Text1 {
  color: rgb(0, 0, 0);
  font-size: 3.2rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -35rem;
  margin-bottom: 30%;
  font-weight: 750;
  text-align: center;
}


@keyframes fadeInAnimation {
0% {
  opacity: 0;
  transform: translateY(-10px);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}

@keyframes fadeOutAnimation {
0% {
  opacity: 1;
  transform: translateY(0);
}
100% {
  opacity: 0;
  transform: translateY(-10px);
}
}

.fadeIn {
animation: fadeInAnimation 0.5s ease-in forwards;
will-change: opacity, transform; /* Add will-change property */
}

.fadeOut {
animation: fadeOutAnimation 0.5s ease-in forwards;
will-change: opacity, transform; /* Add will-change property */
}



.text2 {
  color: skyblue;
}

.animate-on-scroll-2 {
  margin-top: 10rem;
  margin-bottom: 4rem;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
  height: 60vh;
}
.animate-on-scroll-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh; /* Set the height of the container to the full viewport height */
  background-color: black;
  /* background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(67, 71, 75)); */

}

.animate-on-scroll-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh; /* Set the height of the container to the full viewport height */
}

.animate-on-scroll-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh; /* Set the height of the container to the full viewport height */
  background-image: linear-gradient(to bottom, rgb(67, 71, 75), rgb(0, 0, 0));
}

.Text3 {
  color: white;
  font-size: 5.8rem;
  margin-top: 3.5rem; 
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0%;
  font-weight: 650;
  text-align: center;
  animation: fade-in 1.2s ease-in-out;
}


.text4 {
  color: skyblue;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0.5) scale(2);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-in-out;
  will-change: opacity, transform; /* Add will-change property */
}



